/*
 * @SRFramework Allrights reserved.
 */

using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using SRFramework.Attribute;


namespace SRFramework.Effect
{
    public class #SCRIPTNAME# : GameplayEffectExecutionCalculation
    {
        public override void Execute(AbilitySystemComponent source, AbilitySystemComponent target, out List<GameplayModifierInfo> modifiers)
        {
            // Fill your own formulas.
            modifiers = null;
        }
    }
}